<style type="text/css">
<!--
.b {font-weight:bold;}
.c{text-align:center}
-->
</style>

<table width="100%" border="1" cellpadding="0" cellspacing="0" style="font-size:12px; border-collapse:collapse; ">
  <tr>
    <td colspan="5" class="b c">National AIDS &amp; STI Control Programme</td>
  </tr>
  <tr>
    <td colspan="5" class="b c">MOH 731- Comprehensive HIV/AIDS Facility Reporting Form - NASCOP</td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
    <td class="b">Sub County: </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="b">County:</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="b">Month-Year:</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td  class="b">MFL Code:</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5"><span class="b">3 Care and Treatment</span></td>
  </tr>
  <tr>
    <td colspan="5"><span class="b">3.1 Enrollment in Care </span></td>
  </tr>
  <tr>
    <td> Enrolled &lt; 2 years </td>
    <td>HV03-01</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Enrolled 2 - 9 years </td>
    <td>HV03-02</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="22">Enrolled 10 - 14 years </td>
    <td>HV03-03 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-04 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Enrolled 15 - 19 years </td>
    <td>HV03-05 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-06 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Enrolled 20 - 24 years </td>
    <td>HV03-07 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-08 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Enrolled 25+ years </td>
    <td>HV03-09 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-10 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="b">
    <td>Total on CTX (Sum HV03-03 to HV03-06)</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>HV03-10 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="">
    <td>Enrolled In Care_KeyPop </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>HV03-12 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5"><span class="b">3.2 Revisits in Care </span></td>
  </tr>
  <tr>
    <td> In Care Revisits ART < 2 years </td>
    <td>HV03-01</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>In Care Revisits ART 2 - 9 years </td>
    <td>HV03-02</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="22">In Care  Revisits ART 10 - 14 years </td>
    <td>HV03-03 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-04 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>In Care Revisits  ART 15 - 19 years </td>
    <td>HV03-05 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-06 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>In Care  Revisits ART 20 - 24 years </td>
    <td>HV03-07 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-08 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>In Care  Revisits ART 25+ years </td>
    <td>HV03-09 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-10 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="b">
    <td>In Care_Revisits_TOTAL (Sum HV03-03 to HV03-06)</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>HV03-10 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="">
    <td>In Care Revisits  ART_KeyPop </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>HV03-12 (F)</td>
    <td>&nbsp;</td>
  </tr><tr>
    <td colspan="5"><span class="b">3.3 Currently in Care </span></td>
  </tr>
  <tr>
    <td> In Care ART &lt; 2 years </td>
    <td>HV03-01</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>In Care ART 2 - 9 years </td>
    <td>HV03-02</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="22">In Care ART 10 - 14 years </td>
    <td>HV03-03 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-04 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>In Care ART 15 - 19 years </td>
    <td>HV03-05 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-06 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>In Care ART 20 - 24 years </td>
    <td>HV03-07 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-08 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>In Care ART 25+ years </td>
    <td>HV03-09 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-10 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="b">
    <td>In Care_TOTAL (Sum HV03-03 to HV03-06)</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>HV03-10 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="">
    <td>In Care ART_KeyPop </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>HV03-12 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5"><span class="b">3.4 Starting ART</span></td>
  </tr>
  <tr>
    <td> Start ART &lt; 2 years </td>
    <td>HV03-01</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Start ART 2 - 9 years </td>
    <td>HV03-02</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="22">Start ART 10 - 14 years </td>
    <td>HV03-03 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-04 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Start  ART 15 - 19 years </td>
    <td>HV03-05 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-06 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Start ART 20 - 24 years </td>
    <td>HV03-07 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-08 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Start ART 25+ years </td>
    <td>HV03-09 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-10 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="b">
    <td>Start ART_TOTAL (Sum HV03-03 to HV03-06)</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>HV03-10 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="">
    <td>Start  ART_TB Patient </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>HV03-12 (F)</td>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td>Start  ART_Discordant </td>
    <td>HV03-20</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Start  ART_KeyPop </td>
    <td>HV03-21 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-22 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5"><span class="b">3.5 Revisits on ART</span></td>
  </tr>
  <tr>
    <td>  Revisits On ART &lt; 2 years </td>
    <td>HV03-01</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td> Revisits On ART 2 - 9 years </td>
    <td>HV03-02</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="22">  Revisits On ART 10 - 14 years </td>
    <td>HV03-03 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-04 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td> Revisits  On ART 15 - 19 years </td>
    <td>HV03-05 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-06 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>  Revisits On ART 20 - 24 years </td>
    <td>HV03-07 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-08 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>  Revisits On ART 25+ years </td>
    <td>HV03-09 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-10 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="b">
    <td>Revisits_TOTAL (Sum HV03-03 to HV03-06)</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>HV03-10 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="">
    <td> Revisits  On ART_KeyPop </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>HV03-12 (F)</td>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td colspan="5"><span class="b">3.6 Currently on ART [All]</span></td>
  </tr>
  <tr>
    <td> Revisits On ART &lt; 2 years </td>
    <td>HV03-01</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td> Revisits On ART 2 - 9 years </td>
    <td>HV03-02</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="22"> Revisits On ART 10 - 14 years </td>
    <td>HV03-03 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-04 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td> Revisits  On ART 15 - 19 years </td>
    <td>HV03-05 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-06 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td> Revisits On ART 20 - 24 years </td>
    <td>HV03-07 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-08 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td> Revisits On ART 25+ years </td>
    <td>HV03-09 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-10 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="b">
    <td>Revisits_TOTAL (Sum HV03-03 to HV03-06)</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>HV03-10 (F)</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="">
    <td> Revisits  On ART_KeyPop </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>HV03-12 (F)</td>
    <td>&nbsp;</td>
  </tr>
  
   <tr>
     <td colspan="5"><span class="b">3.7 On CTX /Dapsone</span></td>
   </tr>
   <tr>
     <td> On CTX/DDS &lt; 2 years </td>
     <td>HV03-01</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td> On CTX/DDS 2 - 9 years </td>
     <td>HV03-02</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td height="22"> On CTX/DDS 10 - 14 years </td>
     <td>HV03-03 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-04 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td> On  CTX/DDS 15 - 19 years </td>
     <td>HV03-05 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-06 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td> On CTX/DDS 20 - 24 years </td>
     <td>HV03-07 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-08 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td> On CTX/DDS 25+ years </td>
     <td>HV03-09 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-10 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr class="b">
     <td>CTX/DDS_TOTAL (Sum HV03-03 to HV03-06)</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>HV03-10 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td colspan="5"><span class="b">3.8 TB Screening </span></td>
   </tr>
   <tr>
     <td> Screen for TB &lt; 2 years </td>
     <td>HV03-01</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td> Screen for TB 2 - 9 years </td>
     <td>HV03-02</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td height="22"> Screen for TB 10 - 14 years </td>
     <td>HV03-03 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-04 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td> Screen for TB 15 - 19 years </td>
     <td>HV03-05 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-06 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td> Screen for TB 20 - 24 years </td>
     <td>HV03-07 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-08 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td> Screen for TB 25+ years </td>
     <td>HV03-09 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-10 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr class="b">
     <td>Screen for TB_TOTAL (Sum HV03-03 to HV03-06)</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>HV03-10 (F)</td>
     <td>&nbsp;</td>
   </tr>
   
   <tr>
     <td colspan="5"><span class="b">3.9 Start IPT </span></td>
   </tr>
   <tr>
     <td> Start IPT &lt; 2 years </td>
     <td>HV03-01</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td> Start IPT 2 - 9 years </td>
     <td>HV03-02</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td height="22"> Start IPT 10 - 14 years </td>
     <td>HV03-03 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-04 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td> Start IPT 15 - 19 years </td>
     <td>HV03-05 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-06 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td> Start IPT 20 - 24 years </td>
     <td>HV03-07 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-08 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td> Start IPT 25+ years </td>
     <td>HV03-09 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-10 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr class="b">
     <td>Start IPT_TOTAL (Sum HV03-03 to HV03-06)</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>HV03-10 (F)</td>
     <td>&nbsp;</td>
   </tr>
   
   
   <tr>
    <td colspan="5"><span class="b">3.10 Survival and Retention on ART at 12 months</span></td>
  </tr>
   <tr>
     <td>On ART  12 months</td>
     <td>HV03-45</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
     <td> Net Cohort at 12 months</td>
     <td>HV03-46</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
     <td>VL Suppressed 12 months </td>
     <td>HV03-47</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
     <td>VL Results  at 12 months</td>
     <td>HV03-48</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
     <td>On therapy at 12 months (Sum HV03-46 to HV03-48)</td>
     <td>HV03-49</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td colspan="5"><span class="b">3.11 Nutrition and HIV</span></td>
  </tr>
   <tr>
     <td>Nutrition Assess &lt; 15 years </td>
     <td>HV03-50 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-51 (F)</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
     <td>Nutrition Assess - 15+ years</td>
     <td>HV03-52 (M)</td>
    <td>&nbsp;</td>
    <td>HV03-53 (F)</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
     <td>Nutrition Assess_TOTAL</td>
     <td>HV03-55</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
     <td>Malnourished &lt; 15 years </td>
     <td>HV03-50 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-51 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td>Malnourished - 15+ years</td>
     <td>HV03-52 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-53 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td>Malnourished_TOTAL</td>
     <td>HV03-55</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
   </tr>
   
   <tr>
     <td>Food Provided &lt; 15 years </td>
     <td>HV03-50 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-51 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td>Food Provided - 15+ years</td>
     <td>HV03-52 (M)</td>
     <td>&nbsp;</td>
     <td>HV03-53 (F)</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td>Food Provided_TOTAL</td>
     <td>HV03-55</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
   </tr>
   
  <tr>
    <td colspan="5"><span class="b">3.11 HIV Care Visits</span></td>
  </tr>
  <tr>
    <td>Cervical Cancer Screening F_18+_New</td>
    <td>HV03-70</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Clinical Visits 18+ </td>
    <td>HV03-71</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>



