<link href="../../../../assets/css/admin.css" rel="stylesheet" type="text/css">
<link href="../../../../assets/css/forms.css" rel="stylesheet" type="text/css">
<br/>
<style type="text/css">
<!--
.b {font-weight:bold;}
.c{text-align:center}
-->
</style>

<SCRIPT LANGUAGE="JavaScript">
function getType (a) {
document.getElementById("ftype").value=a;
//var x=document.getElementById("ftype").value;
//alert (x);
//document.mike.submit();
document.forms["mike"].submit();
}
</SCRIPT>

<table width="100%" border="1" cellpadding="0" cellspacing="0" style="font-size:12px; border-collapse:collapse; ">
  <tr class="odd">
 <td colspan="5"><div align="center"><strong>NASCOP CQI / KHQIF (Kenya HIV Quality Improvement Framework ) </strong></div></td>
  </tr>
  <tr>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
  </tr>
  <tr>
 <td><strong>Facility Name: </strong></td>
 <td><?=$this->session->userdata('facility_name')?></td>
 <td>&nbsp;</td>
 <td><strong>MFL Code:</strong></td>
 <td><?=$this->session->userdata('mfl_code')?></td>
  </tr>
  <tr>
 <td><strong>County:</strong></td>
 <td><?=$this->session->userdata('county')?></td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
  </tr>
  <tr>
 <td><strong>Review Period:</strong></td>
 <td><?=$speriod?> - <?=$eperiod?></td>
 <td>&nbsp;</td>
 <td><strong>Date Reviewed </strong></td>
 <td><?=date('d-m-Y')?></td>
  </tr>
  <tr>
 <td colspan="5"><strong>Instructions:</strong>  Enter the numerator/denominator/% for every indicator you assessed using the abstraction tool.  If multiple pages of the abstraction tool were used, then sum the total across each abstraction sheet in the summary report. </td>
  </tr>
  <tr>
 <td colspan="5"><strong>Where to store:</strong> Keep a copy in your WIT folder/file to compare performance to other 6-monthly QI indicator reviews. </td>
  </tr>
  <tr>
 <td colspan="5"><strong>Where to submit: </strong>Submit to your Facility QIT or designee per facility instructions. </td>
  </tr>
  <tr>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
  </tr>
  <tr class="odd">
 <td><strong>SN</strong></td>
 <td><strong>Performance Measure</strong></td>
 <td><strong>Numerator </strong></td>
 <td><strong>Denominator </strong></td>
 <td><strong>Percentage % </strong></td>
  </tr>
  <tr class="even">
 <td colspan="5"><strong>Adult Care and Treatment:</strong></td>
  </tr>
  <tr>
 <td><strong>1.1</strong></td>
 <td>% patients in care with 2 or more visits, 3 months apart during the 6 months review period</td>
 <td><?=$p1_1n?></td>
 <td><?=$p1_1d?></td>
 <td><?= $this->pbscms->_divzero($p1_1n ,  $p1_1d) ?></td>
  </tr>
  <tr>
 <td><strong>1.2</strong></td>
 <td>% of HIV infected patients in care with at least one CD4 count during the 6 month review period</td>
 <td><?=$p1_2n?></td>
 <td><?=$p1_2d?></td>
 <td><?= $this->pbscms->_divzero($p1_2n ,  $p1_2d)  ?></td>
  </tr>
  <tr>
 <td><strong>1.3</strong></td>
 <td>% eligible patients initiated on ART</td>
 <td><?=$p1_3n?></td>
 <td><?=$p1_3d?></td>
 <td><?=$this->pbscms->_divzero($p1_3n ,  $p1_3d) ?></td>
  </tr>
  <tr>
 <td><strong>1.4</strong></td>
 <td>% of patients on ART with at least one VL result during the last 12 months&nbsp;</td>
 <td><?=$p1_4n?></td>
 <td><?=$p1_4d?></td>
 <td><?=$this->pbscms->_divzero($p1_4n ,  $p1_4d) ?></td>
  </tr>
  <tr>
 <td><strong>1.5</strong></td>
 <td>% of patients on ART for at least 6 months with VL suppression&nbsp;</td>
 <td><?=$p1_5n?></td>
 <td><?=$p1_5d?></td>
 <td><?=$this->pbscms->_divzero($p1_5n ,  $p1_5d) ?></td>
  </tr>
  <tr>
 <td><strong>1.6</strong></td>
 <td>% patients screened for TB using ICF card at last clinic visit</td>
 <td><?=$p1_6n?></td>
 <td><?=$p1_6d?></td>
 <td><?=$this->pbscms->_divzero($p1_6n ,  $p1_6d) ?></td>
  </tr>
  <tr>
 <td><strong>1.7</strong></td>
 <td>% of patients eligible for IPT who were initiated on IPT</td>
 <td><?=$p1_7n?></td>
 <td><?=$p1_7d?></td>
 <td><?=$this->pbscms->_divzero($p1_7n ,  $p1_7d) ?></td>
  </tr>
  <tr>
 <td><strong>1.8</strong></td>
 <td>% of patients with Nutritional assessment at the last clinic visit</td>
  <td><?='No Data' ?></td>
  <td><?='No Data' ?></td>
  <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>1.9</strong></td>
 <td>% of patients eligible for nutritional support and who received nutritional support</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>1.10</strong></td>
 <td>% of patients whose partner(s) have been tested&nbsp; for HIV or have known positive status</td>
 <td><?=$p1_10n?></td>
 <td><?=$p1_10d?></td>
 <td><?=$this->pbscms->_divzero($p1_10n ,  $p1_10d) ?></td>
  </tr>
  <tr>
 <td><strong>1.11</strong></td>
 <td>% of patients whose children have been tested&nbsp; for HIV or have known positive status</td>
   <td><?=$p1_11n?></td>
 <td><?=$p1_11d?></td>
 <td><?=$this->pbscms->_divzero($p1_11n ,  $p1_11d) ?></td>
  </tr>
  <tr>
 <td><strong>1.12</strong></td>
 <td>% non-pregnant women patients who are on modern contraceptive methods during the review period</td>
    <td><?=$p1_12n?></td>
    <td><?=$p1_12d?></td>
    <td><?=$this->pbscms->_divzero($p1_12n ,  $p1_12d) ?></td>
  </tr>
  <tr>
 <td><strong>1.13</strong></td>
 <td>% HIV infected non-pregnant women 18 to 65 years&nbsp; who have been screened for cervical cancer in within the last 12 months</td>
    <td><?='No Data' ?></td>
    <td><?='No Data' ?></td>
    <td><?='No Data' ?></td>
  </tr>
  <tr class="even">
 <td colspan="4"><strong>Pediatric Care and Treatment</strong></td>
 <td>&nbsp;</td>
  </tr>
  <tr>
 <td><strong>2.1</strong></td>
 <td>% patients in care with 2 or more visits, 3 months apart during the 6 month review period</td>
 <td><?=$p2_1n?></td>
 <td><?=$p2_1d?></td>
 <td><?= $this->pbscms->_divzero($p2_1n ,  $p2_1d) ?></td>
  </tr>
  <tr>
 <td><strong>2.2</strong></td>
 <td>% of HIV infected patients in care with at least one CD4 count during the 6 month review period</td>
 <td><?=$p2_2n?></td>
 <td><?=$p2_2d?></td>
 <td><?= $this->pbscms->_divzero($p2_2n ,  $p2_2d)  ?></td>
  </tr>
  <tr>
 <td><strong>2.3</strong></td>
 <td>% eligible patients initiated on ART</td>
 <td><?=$p2_3n?></td>
 <td><?=$p2_3d?></td>
 <td><?=$this->pbscms->_divzero($p2_3n ,  $p2_3d) ?></td>
  </tr>
  <tr>
 <td><strong>2.4</strong></td>
 <td>% of patients on ART with at least one VL result during the last 12 months;</td>
 <td><?=$p2_4n?></td>
 <td><?=$p2_4d?></td>
 <td><?=$this->pbscms->_divzero($p2_4n ,  $p2_4d) ?></td>
  </tr>
  <tr>
 <td><strong>2.5</strong></td>
 <td>% of patients on ART for at least 6 months with VL suppression</td>
 <td><?=$p2_5n?></td>
 <td><?=$p2_5d?></td>
 <td><?=$this->pbscms->_divzero($p2_5n ,  $p2_5d) ?></td>
  </tr>
  <tr>
 <td><strong>2.6</strong></td>
 <td>% patients screened for TB at last clinic visit;</td>
 <td><?=$p2_6n?></td>
 <td><?=$p2_6d?></td>
 <td><?=$this->pbscms->_divzero($p2_6n ,  $p2_6d) ?></td>
  </tr>
  <tr>
 <td><strong>2.7</strong></td>
 <td>% of patients eligible for IPT who were initiated on IPT</td>
 <td><?=$p2_7n?></td>
 <td><?=$p2_7d?></td>
 <td><?=$this->pbscms->_divzero($p2_7n ,  $p2_7d) ?></td>
  </tr>
  <tr>
 <td><strong>2.8</strong></td>
 <td>% of patients with Nutritional assessment&nbsp; (Z-score or MUAC)at the last clinic visit</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>2.9</strong></td>
 <td>% of patients eligible for nutritional support and who received nutritional support</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>2.10</strong></td>
 <td>% children aged 8-14 who have been disclosed HIV status</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr class="even">
 <td colspan="5"><strong>PMTCT</strong></td>
  </tr>
  <tr>
 <td><strong>3.1</strong></td>
 <td>% of pregnant women attending fourth ANC visit</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>3.2</strong></td>
 <td>% of skilled deliveries within the facility catchment population</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>3.3</strong></td>
 <td>% of deliveries with accurately filled partographs</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>3.4</strong></td>
 <td>% of Mother-newborn pairs reviewed&nbsp; by health care provider 7-14 days of birth</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>3.5</strong></td>
 <td>% of pregnant women whose partners have been tested for HIV or who are known positive.</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>3.6</strong></td>
 <td>% of HIV-infected pregnant women receiving&nbsp; HAART&nbsp;</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>3.7</strong></td>
 <td>% of HIV-infected pregnant or lactating women on ART for at least 6 months who had a VL assessment done</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>3.8</strong></td>
 <td>% of HIV-infected pregnant or lactating women on ART for at least 6 months with VL suppression</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>3.9</strong></td>
 <td>% HEI who received HIV DNA PCR testing by age 6-8 weeks and results are available</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>3.10</strong></td>
 <td>% HIV exposed infants on exclusive breast&nbsp; feeding at age 6 months</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>3.11</strong></td>
 <td>% HIV infected mother and HIV-exposed baby pair (0-18 months) in active care among facility registered</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>3.12</strong></td>
 <td>% HIV infected mother and HIV-exposed baby pair (0-18 months) in active care among population estimate</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr>
 <td><strong>3.13</strong></td>
 <td>% HIV exposed infants diagnosed with HIV between 0 and 18 months</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
  <tr class="even">
 <td colspan="5"><strong>Other Program Areas</strong></td>
  </tr>
  <tr>
 <td><strong>4.1</strong></td>
 <td>% of male clients who were circumcised&nbsp;&nbsp; with documented adverse event</td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
 <td><?='No Data' ?></td>
  </tr>
</table>
<span style="text-align:center">
<input name="myid" type="hidden" id="myid" value="<?=$this->session->userdata('mfl_code')?>" />
</span><span style="text-align:center">
<?php
        if(!isset($zz) || empty($zz))
		 $zz = "";
		?>
<input name="mycon" type="hidden" id="mycon" value="<?=$zz?>" />
<input name="ftype" type="hidden" id="ftype" value="x" /> 
<input name="annual_period" type="hidden" id="annual_period" value="<?=$annual_period?>" />
<input name="year" type="hidden" id="year" value="<?=$year?>" />
<input name="eperiod" type="hidden" id="eperiod" value="<?=$eperiod?>" />
<input name="speriod" type="hidden" id="speriod" value="<?=$speriod?>" />
</span>

<p style="text-align:center">
  <input name="pdf" type="button" id="pdf"  value="Print PDF"  onclick="getType('pdf')" />
  <input name="excel" type="button" id="excel"  value="Print EXCEL"  onclick="getType('excel')" />
</p>


