<span style='color: #000'>906 frames</span>	<span style='color: #900'>28,416 KB</span>	<span style='color: #090'>2,631.38 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />