html {
background:url('../images/icap_bg.png') #A98436 no-repeat left top;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
}

.login-box {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	box-shadow: 0 0 4px #000000;
	color: #FFFFFF;
	/*
	left: 50%;
	top: 20%;
	margin: 0 0 0 -250px;
	padding: 20px;
	*/
	min-width: 300px;
	max-width: 300px;
	min-height: 300px;
	height:	300px;
	
	position: absolute;
	margin: auto;
	top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 10;
  overflow: hidden;
}

.login-title{background-color: rgba(0, 0, 0, 0.6); height:50px; line-height:50px; width:100%; font-weight:bold; font-size:36px; color:#fff; font-family:Eras-Bold }

.lform{
background-color: rgba(255, 255, 255, 0.3); height:100%; width:100%; padding-top:25px; 
}

.lform div {text-align:left; padding:0 35px; color:blue; }

.lform label{display:block;margin-bottom:5px; font-weight:bold; font-size:16px; display:block;  }

.lform input{margin-bottom:20px;}

