.menubar{
	
	height: 30px;
	width: auto;
	/* position: absolute;
	top: 243px;*/
	padding:0; margin:0;
	//z-index: -1;
	background: -moz-linear-gradient(#0b559e, #5bbde3); /* Firefox */
	-pie-background: linear-gradient(#0b559e, #5bbde3); /* Internet Explorer */
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#0b559e), to(#5bbde3)); /* Chrome & Safari */
	background-image: -o-linear-gradient(top,rgb(11,85,158),rgb(91,189,227)); /* Opera */
	//clear:both;	
}
/* Main Menu */
#menu {
	width: auto;
	height: 35px;
	//margin-left: -10px;
	//margin-bottom: 20px;
	/*position: absolute; */
	color: #fff;
	font-weight: bold;	
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: auto;
	position: absolute;
	//z-index: 98;
}
#menu ul li {
	float: left;
	position: relative;
	
	
}
#menu a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	display: block;
	line-height: 33px;
	text-align: left;
	padding: 0 10px;
}
#menu li:last-child a {
	border: 0;
}
#menu ul ul a {
	background-color: #5bbde3;
	border-bottom: 1px solid #0d57a0;
	margin: 0 !important;
	padding: 5px 0;
	line-height: 12px;
}
#menu a:hover, #menu a.navPage:hover {
	color: #1a171b;
}
#menu .navPage {
	color: #fff;
	font-weight: bold;
}
#menu ul ul {
	display: none;
	top: 33px;
	left: 0;
	//z-index: 99;
	border-top: 0;
	width: auto;
	position: absolute;
	border: 10px solid #5bbde3;
	border-top: 0;
	border-bottom: 0;
}
#menu ul ul li {
	float: none;
	width: auto;
	white-space: nowrap;
}
#menu ul ul ul {
	position: absolute;
	top: 0;
	left: 100%;
}
#menu ul li:hover > ul {
	display: block;
}

